TEST_USER=guest3
TEST_USER_PASSWORD=guest3password
GIN_HTTPS=false
GIN_ADDR=0.0.0.0
GIN_PORT=49167
LOG_LEVEL=debug
LDAP_TLS=true
LDAP_CONNECTION_STRING=www.zflexldap.com:636
LDAP_SERVER_NAME=zflexldap.com
LDAP_SSL_VERIFY=false
LDAP_USER_DN="ou=users,ou=guests,dc=zflexsoftware,dc=com"
LDAP_USER_FQDN_ATTRIBUTE_NAME=mail
JWT_SECRET=""
JWT_EXPIRE=3600
JWT_ISSUER=urlshortening